<!DOCTYPE html>
<html ng-app="quackerApp">
    <head>
        <title>Quacker</title>

        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" rel="stylesheet" type="text/css" />
        <link href="//{{host}}:{{port}}/css/main.css" rel="stylesheet" type="text/css" />
        <base href="/">
    </head>
    <body>
        <nav class="clearfix" ng-controller="NavController as nav">
            <h4 id="logo" ui-sref="home" class="fleft">Quacker</h4>
            <ul class="fright">
                <li>
                    <a ng-if="!nav.isLoggedIn" ui-sref="login" ui-sref-active="active">Login</a>
                    <span ng-if="!nav.isLoggedIn"> / </span>
                    <a ng-if="!nav.isLoggedIn" ui-sref="signup" ui-sref-active="active">Sign up</a>
                    <span ng-if="nav.isLoggedIn">{{nav.user.username}}</span>
                    <a ng-if="nav.isLoggedIn" ui-sref="logout" ui-sref-active="active">Logout</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            {{{@body}}}
        </div>
        <script src="//{{host}}:{{port}}/js/bundle.js"></script>
    </body>
</html>
